body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
}

a {
  color: #000;
  text-decoration: none;
}

/* Column widths */
.col-15 { width: 15%; }
.col-20 { width: 20%; }
.col-25 { width: 25%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }

/* Invoice */
.invoice {
  background-color: white;
  color: black;
  padding: 16px;
}

/* Meta info */
.meta {
  color: #000;
}

.title {
font-size: 200%;
font-weight: bold;
}

.info .meta {
  font-weight: normal;
}

.info .meta::after {
  content: ": ";
}

/* Supplier */

.supplier {
  color: #4682B4;
  display: block;
}

.block {
  padding-left: 5px;
  display: block;
}

.absender {
  font-size: 11px;
  text-decoration: underline;
  vertical-align: bottom;
  padding-right: 50px;
}

/* Add spacing between sections */
.client, .items, .summary {
  margin: 1em 0;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

.client .title, .summary .title {
  margin-left: 4px;
}

.client .details, .summary .details {
  padding: 4px;
  background-color: white;
}

/* Tables */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  padding: 0 0 5px 2px;
}

.kopf th, 
.kopf td {
  border: none;
  border-collapse: collapse;
  padding-bottom: 0.8em;
  font-size: 13px;
}

.items {
  border: 1px solid #f8f8f8;
  padding: 0;
}

.items th {
  background: #f8f8f8;
  font-weight: bold;
}

.client .title, .summary .title, .help .title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.alright {
  text-align: right;
}

.address {
  padding-bottom: 1em;
  color: #000;
}

div.date-tag {
  display: inline-block;
  min-width: 80px;
}

div.top {
  display: flex;
  width: 100%;
  padding: 0px;
  justify-content: space-between;
}

div.summary {
  display: flex;
  width: 100%;
  padding: 0px;
  align-items: flex-end;
}

div.summary .part, div.summary .total {
  padding: 10px;
}

div.summary .part {
  width: 20%;
  padding-right: 20px;
}

div.summary .total {
  display: block;
  flex-grow: 1;
  background: #000080;
  font-size: 140%;
}

div.summary {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

div.summary .total {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

div.summary .title, div.summary .details {
  text-align: right;
}

div.summary::after {
  content: '';
  display: block;
  clear: both;
}

.phone::before {
  content: "Tel";
  margin-right: 0.5em;
}

.email::before {
  content: "E-Mail";
  margin-right: 0.5em;  
}

.thanks {
  text-align: left;
  margin-top: 1em;
}

div.instructions, .newlined, p.note {
  white-space: pre-line;
}

.app {
  position: relative;
}

@media print {
  div.print {
    display: none;
  }
}

div.print {
  position: fixed;
  left: 0;
  bottom: 0;
}

div.print a {
  background: #C83200;
  display: block;
  font-size: 200%;
  color: white;
  text-decoration: none;
  padding: 0.25em;
  padding-top: 0.5em;
  padding-right: 0.5em;
  border-top-right-radius: 0.5em;
  text-transform: uppercase;
}

div.print a:hover {
  background: #4682B4;
}

.done {
  text-decoration: line-through;
}

div.column-name {
  display: inline-block;
}

.column-name {
  background: blue;
  color: white;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  font-style: normal;
}

.column-recognized {
  background: green;
}

.column-expected {
  background: blue;
}

.column-ignored {
  background: red;
}

.help {
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: black;
  color: white;
}

.help .details {
  padding: 4px;
}

.help table {
  border: none;
}

.help td.key {
  text-align: right;
}

.help table {
  padding-bottom: 3px;
}

.help-close {
  float: right;
  max-width: 150px;
  padding: 5px;
  border-left: 1px solid white;
  border-bottom-left-radius: 5px;
  font-size: 80%;
  font-style: italic;
}

.help pre {
  display: inline-block;
  background: #ddd;
  color: #000;
  padding: 0.25em;
  margin-left: 1em;
}

.help .title {
  margin-left: 4px;
  text-transform: uppercase;
}

.status {
  padding: 4px;
}

.status .button {
  display: inline-block;
  text-decoration: none;
  color: #000080;
  background: #ddd;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 0.25em;
}
