:root {
  --accent: #4682B4;
  --accent-alt: #C83200;
  --muted-bg: #f8f8f8;
  --text: #000;
  --help-bg: #000;
  --help-text: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
  color: var(--text);
}

a {
  color: var(--text);
  text-decoration: none;
} 

/* Column widths */
.col-15 { width: 15%; }
.col-20 { width: 20%; }
.col-25 { width: 25%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }

/* Invoice */
.invoice {
  background-color: white;
  color: black;
  padding: 16px;
  vertical-align: top;
}

/* Meta info */
.meta {
  color: #000;
}

.title {
  font-weight: bold;
  margin-top: 3em;
  margin-left: 4px;
} 

.info .meta {
  font-weight: normal;
}

.info .meta::after {
  content: ": ";
}

/* Supplier */

.supplier {
  color: var(--accent);
  display: block;
} 

.block {
  padding-left: 5px;
  display: block;
}

.absender {
  font-size: 11px;
  text-decoration: underline;
  vertical-align: bottom;
  padding-right: 50px;
}

/* Add spacing between sections */
.items, .summary {
  margin: 1em 0;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}



.summary .details {
  padding: 4px;
}

/* Tables */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  padding: 0 0 0.4em 0.2em;
}

.kopf th {
  font-weight: bold;
  text-align: left;
  padding-bottom: 0.8em;
}

.kopf td {
  padding-bottom: 0.8em;
}

.items {
  border: 1px solid var(--muted-bg);
  padding: 0;
  font-size: 13px;
} 

.items th {
  background: var(--muted-bg);
  font-weight: bold;
} 

.summary .title, .help .title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.alright {
  text-align: right;
}

.address {
  padding-bottom: 1em;
  color: #000;
}

div.date-tag {
  display: inline-block;
  min-width: 80px;
}

div.top {
  display: flex;
  width: 100%;
  padding: 0px;
  justify-content: space-between;
}

div.summary {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

div.summary .part, div.summary .total {
  padding: 10px;
}

div.summary .part {
  width: 20%;
  padding-right: 20px;
}

div.summary .total {
  display: block;
  font-weight: bold;
}

div.summary .title, div.summary .details {
  text-align: right;
}

div.summary::after {
  content: '';
  display: block;
  clear: both;
}

.phone::before {
  content: "Tel";
  margin-right: 0.5em;
}

.email::before {
  content: "E-Mail";
  margin-right: 0.5em;  
}

.thanks {
  text-align: left;
  margin-top: 1em;
}

div.instructions, .newlined, p.note {
  white-space: pre-line;
}

.app {
  position: relative;
}

@media print {
  div.print {
    display: none;
  }
}

div.print {
  position: fixed;
  left: 0;
  bottom: 0;
}

div.print a {
  background: var(--accent-alt);
  display: block;
  font-size: 200%;
  color: var(--help-text);
  text-decoration: none;
  padding: 0.25em;
  padding-top: 0.5em;
  padding-right: 0.5em;
  border-top-right-radius: 0.5em;
  text-transform: uppercase;
} 

div.print a:hover {
  background: var(--accent);
} 

.done {
  text-decoration: line-through;
}

div.column-name {
  display: inline-block;
}

.column-name {
  background: var(--accent);
  color: white;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  font-style: normal;
} 

.column-recognized {
  background: green;
}

.column-expected {
  background: var(--accent);
}

.column-ignored {
  background: red;
}

.help {
  padding: 1px;
  margin: 1em 0;
  background: var(--help-bg);
  color: var(--help-text);
}

.help .details { padding: 4px; }
.help table { border: none; padding-bottom: 3px; }
.help td.key { text-align: right; }
.help .title { margin-left: 4px; text-transform: uppercase; } 

.help-close {
  float: right;
  max-width: 150px;
  padding: 5px;
  border-left: 1px solid white;
  border-bottom-left-radius: 5px;
  font-size: 80%;
  font-style: italic;
}

.help pre {
  display: inline-block;
  background: #ddd;
  color: #000;
  padding: 0.25em;
  margin-left: 1em;
}